<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        * {
            font-family: sans-serif;
            font-size: larger;
            margin: 50px 50px 50px 50px;
        }
        a{
            text-decoration: none;
            color: red;
            cursor: pointer;
            display: flex;
            flex-direction: column;
        }
        a:hover{
            background-color: black;
            color: white;
            transition: .3s ease-in-out;
        }
    </style>
</head>

<body>
   <h1>This is About ME page</h1>
     <a href="{% url 'contact' %}">Contact Us</a>
    <a href="{% url 'welcome' %}">Landing Page</a>
</body>

</html>